[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Bb]uild/
[Bb]uilds/
[Mm]emoryCaptures/
[Rr]ecordings/
.vs/
.idea/
*.csproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
sysinfo.txt
.DS_Store
Thumbs.db
